<a href="https://colab.research.google.com/github/dataemperor/Shrimple/blob/shaithra/Location.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

# Define the file path
file_path = '/content/drive/My Drive/Shrimple Dataset/locationData.csv'

# Load the dataset
df = pd.read_csv(file_path)

In [3]:
# Display the first few rows
print(df.head())

# Check for missing values and data types
print(df.info())

# Summary statistics
print(df.describe())

# Check the shape of the dataset
print(f"Dataset shape: {df.shape}")

# Check for missing values
print(f"\nMissing values in each column:\n{df.isnull().sum()}")

# Check the data types of each column
print(f"\nData types of each column:\n{df.dtypes}")

# Summary statistics for numerical columns
print(f"\nSummary statistics for numerical columns:\n{df.describe()}") #Computes summary statistics for all numerical columns in the dataset.
# Provides an overview of numerical data distribution and identifies anomalies (e.g., extreme outliers).

   location_id  latitude  longitude  elevation  utc_offset_seconds  \
0            0  6.924429   79.90725          4               19800
1            1  7.065026   79.96622         19               19800
2            2  6.572935   80.02519          5               19800
3            3  7.275923   80.62659        499               19800
4            4  7.486819   80.52632        362               19800

       timezone  timezone_abbreviation city_name
0  Asia/Colombo                    530   Colombo
1  Asia/Colombo                    530   Gampaha
2  Asia/Colombo                    530  Kalutara
3  Asia/Colombo                    530     Kandy
4  Asia/Colombo                    530    Matale
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   location_id            27 non-null     int64
 1   latitude               27 non-null     float64
 2   longitude              27 non-null     float64
 3   elevation              27 non-null     int64
 4   utc_offset_seconds     27 non-null     int64
 5   timezone               27 non-null     object
 6   timezone_abbreviation  27 non-null     int64
 7   city_name              27 non-null     object
dtypes: float64(2), int64(4), object(2)
memory usage: 1.8+ KB
None
       location_id   latitude  longitude    elevation  utc_offset_seconds  \
count    27.000000  27.000000  27.000000    27.000000                27.0
mean     13.000000   7.536289  80.616009   245.777778             19800.0
std       7.937254   1.028163   0.521347   457.903864                 0.0
min       0.000000   5.940246  79.846150     4.000000             19800.0
25%       6.500000   6.889280  80.277745     8.000000             19800.0
50%      13.000000   7.275923  80.534480    38.000000             19800.0
75%      19.500000   8.189807  80.996310   162.000000             19800.0
max      26.000000   9.666080  81.693474  1865.000000             19800.0

       timezone_abbreviation
count                   27.0
mean                   530.0
std                      0.0
min                    530.0
25%                    530.0
50%                    530.0
75%                    530.0
max                    530.0
Dataset shape: (27, 8)

Missing values in each column:
location_id              0
latitude                 0
longitude                0
elevation                0
utc_offset_seconds       0
timezone                 0
timezone_abbreviation    0
city_name                0
dtype: int64

Data types of each column:
location_id                int64
latitude                 float64
longitude                float64
elevation                  int64
utc_offset_seconds         int64
timezone                  object
timezone_abbreviation      int64
city_name                 object
dtype: object

Summary statistics for numerical columns:
       location_id   latitude  longitude    elevation  utc_offset_seconds  \
count    27.000000  27.000000  27.000000    27.000000                27.0
mean     13.000000   7.536289  80.616009   245.777778             19800.0
std       7.937254   1.028163   0.521347   457.903864                 0.0
min       0.000000   5.940246  79.846150     4.000000             19800.0
25%       6.500000   6.889280  80.277745     8.000000             19800.0
50%      13.000000   7.275923  80.534480    38.000000             19800.0
75%      19.500000   8.189807  80.996310   162.000000             19800.0
max      26.000000   9.666080  81.693474  1865.000000             19800.0

       timezone_abbreviation
count                   27.0
mean                   530.0
std                      0.0
min                    530.0
25%                    530.0
50%                    530.0
75%                    530.0
max                    530.0